/*your card back color: rgb(66, 186, 226) */
/*computer card back color: bisque */

@keyframes riskcardanimate {
  0% {
    background-color: lavender;
    opacity: 0;
    
  }

  50% {
    opacity:  0;
    background-color: lavender;
  }

  75% {
    opacity: 0;
    background-color: lavender;
  }

  99% {
    opacity: 0;
    background-color: lavender;
  }

  100% {
    opacity: 1;
    background-color: lavender;
    

  }
}
@keyframes fromuptodown {
  0% {
    top:10%;
  }

  100% {
    top:50%;
  }
}

@keyframes reduceroncards {
  0% {
    opacity: 1;
  }
  33% {
    background-color: red;
    opacity: .5;
  }

  66% {
    background-color: initial;
    opacity: .5;
  }
  100% {
    background-color: red;
    opacity: 1;
  }

}


@keyframes foralerts {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: -20rem;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes tooltipshow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes extracompanion {
  0% {
    top: 4rem;
    left: 12rem;
    opacity: 0;

  }

  90% {
    left: -1rem;
  }

  100% {
    left: 0;
    top: 0;
    opacity: 1;
  }
}

@keyframes alertappear {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  90% {
    transform: scale(3.3);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes visibility {
  0% {
    color:white;
    background-color: beige;
    transform: scale(1);
  }

  80% {
    background-color: rgb(196, 68, 36);
    color: white;
    transform: scale(.8);
  }

  100% {
    background-color: beige;
    color: white;
    transform: scale(.8);
  }
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.values {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.backimg {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.card-sample {
  position: relative;
  margin-top: 1rem;
  height: 9rem;
  width: 6rem;
  background-color: beige;
  box-shadow: 5px 5px 15px -8px #000000;
  text-align: center;
  margin-left: 1.5rem;
  transition: all .5s;
  outline: 3px transparent rgb(66, 186, 226);
  background-color: rgb(100, 196, 228);
}

.rival {
  background-color: bisque !important;
}

.yourhands .card-sample:hover {
  outline: 3px solid rgb(66, 186, 226);
  outline-offset: .8rem;
}


.only-sample {
  position: relative;
  margin-top: 1rem;
  height: 9rem;
  width: 6rem;
  background-color: beige;
  box-shadow: 5px 5px 15px -8px #000000;
  text-align: center;
  margin-left: 1.5rem;
  transition: all .5s;
}



.card {
  margin-right: 0.1rem;
  position: relative;
  margin-top: 1rem;
  padding-top: .3rem;
  height: 9rem;
  width: 6rem;
  background-color: bisque;
  box-shadow: 5px 5px 15px -8px #000000;
  text-align: center;
  margin-left: 1.5rem;

}



.yourhands {
  display: flex;
  height: 50%;
}

.yourside {
  display: flex;
  height: 50%;
  flex: .5;
  justify-content: center;
}

.card-play {
  position: absolute;
  bottom: 1rem;
  right: 1.7rem;
}
.your-card {
  position: absolute;
  bottom: 0.2rem;
}
.current {
  font-size: 1.6rem;
}

.board-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  border-bottom: 0.1rem dashed white;
}

.computerhands {
  height: 50%;
  display: flex;
  justify-content: center;
}

.computerside {
  height: 50%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.board-bottom {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 

}

.board {
  height: 100vh;
  background-image: url(images/james-pond-909c1sEZYJo-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-color: black;
  flex: 0 0 70%;
  
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.init {
  margin-bottom: 2rem;
}

.sumcomputer {
  display: flex;
  justify-content: end;
}

.sumyou {
  display: flex;
  justify-content: end;
}

.invisible {
  visibility: hidden;
}

.none {
  display: none;
}

.you {
  background-color: rgb(100, 196, 228);
}

.animatescouted {
  animation: visibility 1.2s;
}

.alert-middle {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 40%;
  color: white;
  z-index: 5;
  opacity: 0;
}

.alert-animate {
  animation-name: alertappear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.transform-scout {
  display: none;
  margin-left: 2.4rem;
}


/* FOR TUTORIAL */
.alert {
  padding: 1rem;
  width: 20rem;
  min-height: 4rem;
  border: .4rem solid white;
  border-radius: 2rem;
  background-color: khaki;
  margin-left: -20rem;
}

.yourhandsborder {
  border: 3.5px solid orangered;
  width: 90%;
  margin: 2rem auto;
}

.alertanimation {
  animation-name: foralerts;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}

.card-extra {
  animation-name: extracompanion;
  animation-duration: 1s;
}

/* TOOLTİP */

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: rgb(38, 137, 167);
  text-align: center;
  border-radius: 3px;
  padding: 0.5rem 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
  font-style: italic;
  font-size: .8rem;
}

.card-sample:hover .tooltiptext {
 animation-name: tooltipshow;
 animation-duration: 2.3s;
 animation-fill-mode: forwards;
}

.skip {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tutorial-end {
  position: relative;
  background: linear-gradient( white,transparent);
  border-radius: .8rem;
  width: 25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem 0;
  z-index: 10;
  display: none;
  animation-name: fromuptodown;
  animation-duration: 1.5s;

}

.tutorial-end button {
  margin-right: .65rem;
  margin-left: .65rem;
  background-color: skyblue;
  border-bottom: 2px solid black;
  padding: .2rem;
  cursor: pointer;
}
.tutorial-end button:hover {
  background-color:darkturquoise;
  transition: all .5s;
  padding: .7rem;
}

.tutorial-end button:first-of-type {
  margin-left: 1rem;
}

.tutorial-end h2 {
  text-align: center;
  margin-top: 0;
  font-weight: 500;
}


.feature-learned-1, .feature-learned-2 {
  font-style: italic;
  font-weight: 600;
  font-size: 1.4rem;
  color: royalblue;
}

.learned {
  text-align: center;
}

.reducenow {
  animation-name: reduceroncards;
  animation-duration: 1s;
}

.your-risk-card {
  animation-name: riskcardanimate;
  animation-duration: 1s;
}

.tutorial-again-3 {
  text-align: center;
  display: inline-block;
}

.buttons {
  display: flex;
  justify-content: center;
}

